

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color:#0062D9;
/*  color: #4a4a4a;*/


}

.close{
 
  cursor: pointer;
  font-size: 1.5vw;
  color:#0cf077;
  text-align: right;

}


.open1{
    text-align: left;
    line-height: 150%;
    font-style: italic;
    font-size: 1.2vw;
/*    color:white;*/
    color:#0062D9;
}
.open2{
   text-align: left;
    line-height: 150%;
    font-style: normal;
    font-size: 1.1vw;
/*    color:white;*/

    color:#0062D9;

}
.p{
/*  color:#5A71E2;*/
    color:#0cf077;
/*  color:#0062D9;*/
}

.title{
    font-style: italic;
    font-size:1.2vw;
}

.sebody{ 

    font-size:1.1vw;
}


.emoji{
  font-size:1.8vw;
}
.know{
    
   font-size:1.1vw;
}

.x{
  /*color:#5A71E2;*/
   color:#0cf077;
}

.new1 {
  margin-top: 1vw;
  margin-left:50%;
  margin-right:0%;
  width: 30%;
  border-top: 1px solid #0cf077;
}
.break{
  text-align: right;
}


