

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #4a4a4a;
/*  background-color: #f7f0f2;*/
/*  background-color: #f9f8ea;
  background-color: #eef2eb;	*/
  background-color: #f2f2f4；
}

.close{
 
  cursor: pointer;
  font-size: 1.5vw;
  color:#0cf077;
  text-align: right;
}


.open{
  text-align: center;
    line-height: 150%;
    /*font-style: italic;*/
    font-size: 1.1vw;
    color:#0cf077;
}

.p{
  color:#f00cb8;
}

.title{
    font-style: italic;
    font-size:1.3vw;
}

.sebody{ 
    font-size:1.1vw;
}


.emoji{
  font-size:1.8vw;
}
.know{
    
   font-size:1.1vw;
}

.x{
  color:#0cf077;
}

.new1 {
  margin-left:45%;
  margin-right:5%;
  width: 50%;
  border-top: 1px solid red;
}
.break{
  text-align: right;
}


