

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color:#0062D9;
/*  color: #4a4a4a;*/


}
a{
  text-decoration: none;
}
.itali{
  font-style: italic;
}

.close{
  padding-top: 1vw;
  padding-right:1vw;
  cursor: pointer;
  font-size: 1.4vw;
  color:#0062D9;
  text-align: right;
}
.xx{
   color:#0cf077;
}
.o1{
    text-align: center;
    line-height: 150%;
    font-style: italic;
    font-size: 1.2vw;
    color:#0cf077;
}

.open1{
    text-align: center;
    line-height: 150%;
    font-style: italic;
    font-size: 1.2vw;
    color:#0062D9;
}


.open2{
   text-align: center;
    line-height: 150%;
    font-style: normal;
    font-size: 1.1vw;
/*    color:white;*/
    color:#0062D9;
}
.open3{
    text-align: center;
    line-height: 150%;
    font-style: italic;
    font-size: 1.2vw;
    color:#0062D9;
}
.p{
    color:#0cf077;
}

.me1{
  text-align: center;
}
.me2{
   font-size: 1.1vw;
   color:#0cf077;
}
.metext{
  font-size: 1.2vw;
  color:#0062D9;
}
.menubody{

  padding-left:1vw;
  padding-right:1vw;
  text-align: left;
  color:#0062D9;
  font-size: 1.1vw;
}
.title{
    font-style: italic;
    font-size:1.2vw;
}

.sebody{ 

    font-size:1.1vw;
}


.emoji{
  font-size:1.8vw;
}
.know{
    
   font-size:1.1vw;
}

.x{
   color:#0cf077;
}

.new1 {
  margin-top: 0.2vw;
  margin-left:50%;
  margin-right:0%;
  width: 40%;
  border-top: 1px solid #0cf077;
}
.break{
  text-align: right;
}


