/*font*/
.marquee3k {
  font-size: 1.4vw;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*position*/
.marquee3k{
  overflow: hidden;
  position: relative;
  margin-top: 0.8vw; 
  padding:0vw;  
  margin-left:24vw;
  width:70vw;
}

.marquee3k span {
  padding-left:15px;
}

