
.pop {
  width:400px;
  height:600px;
  border:2px #0062D9 !important;
  box-shadow: 5px 8px 15px 5px gray;
  position: absolute;
  visibility: hidden;
  display:flex;
  flex-wrap:wrap;
  background-color: #E3E4E5;
/*  background-color: #A3BBD3;*/
/*  background-color: #e8e8e8;*/
}


.pop:hover {
  z-index: 200;
}
.pop div{
   flex:0 0 100%;
}

.pop img {
  width: 100%;  
  padding:1vw;
}



.p-space{
  width:32vw;
  height:85vw;
  margin-left:21.5vw;
}

.p-record{
  width:28vw;
  height:102vw;
  margin-top: vw;
  margin-left:1vw;
}

.p-memo{
   width:28vw;
   height: 110vw;
   margin-top: vw;
   margin-left:8vw;
}


.p-handy{
  width: 25vw;
  height: 125vw;
  margin-top: 0vw;
  margin-left:15vw;

}

.divi div{
   flex:0 0 50%;
}

.p-pet{
  width: 25vw;
  height: 135vw;
  margin-top: 0vw;
  margin-left:22vw;
}

.p-spine{
  width: 26vw;
  height: 130vw;
  margin-top: 5vw;
  margin-left:5vw;
}

.p-co{
  width: 20vw;
  height: 117vw;
  margin-top: 5vw;
  margin-left:32vw;
}

.p-two{
  width: 28vw;
  height: 92vw;
  margin-top: 10vw;
  margin-left:14vw;
}

.p-dis{
  width: 25vw;
  height: 100vw;
  margin-top: 15vw;
  margin-left:4vw;
}

.p-pro{
  width: 25vw;
  height: 100vw;
  margin-top: 15vw;
  margin-left:4vw;
}

.rollover {

margin-right: 12vw;
cursor:pointer; 
}

.p-show {

  visibility: visible;
}

