
.pop {
  width:450px;
  height:600px;
  box-shadow: 5px 8px 15px 5px gray;
  position: absolute;
  visibility: hidden;
  display:flex;
  flex-wrap:wrap;
  background-color: #c0c0c0;
}

.pop:hover {
  z-index: 200;
}
.pop div{
   flex:0 0 100%;
}

.pop img {
  width: 70%;  
}


.p-space{

margin-left: 10vw;
}

.rollover {

margin-right: 13vw;
cursor:pointer; 
/*  font-size: 6vw;*/
/*  color:#5ae5a3;*/
}

.p-show {

  visibility: visible;
}

.p-menu {
/*  top:100px;
    left:230px;*/
  position: fixed;
/*  cursor: move;*/
  /*color: #5ae5a3;*/
  overflow: scroll;
}