

.panel {
  height:100vh;
  width: 43vw;
  overflow: scroll;

}




.left {
  height:100vh;
  width: 43vw;
  overflow: scroll;
/*background-color: #E2ECED;*/
/*  background-color: #f7f5da;*/
/*  background-color: #f7f0f2;*/
}

.right {

  height:100vh;
  width: 55vw;
  overflow: scroll;
  position:fixed;
  right:0;
  top:0;
}

.text {
  padding:20px;
}

.tac {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}